# OS
**/.DS_STORE
Thumbs.db

# IDE & Editor
.idea/
.vscode
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# Dependencies
/vendor/
node_modules/

# Environment
**/.env
.env.local
.env.*.local

# Data
kuturl-data/

# Go
*.out
*.test

# Build & Dist
dist/
build/

# IDE specific
.task

# Module files
go.sum
