services:
  db:
    container_name: kuturl_db
    build: DB/
    volumes:
      - ./kuturl-data:/var/lib/mysql
    ports:
      - "3366:3306"
    restart: unless-stopped
    networks:
      - kuturl_network

  api:
    container_name: kuturl_api
    build: api/
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: kuturl
      MYSQL_USER: kuturl
      MYSQL_PASSWORD: shorterurl
    ports:
      - "5502:5502"
    restart: unless-stopped
    networks:
      - kuturl_network
    depends_on: [db]

  front:
    container_name: kuturl_front
    build: web/
    ports:
      - "4480:80"
    restart: unless-stopped
    networks:
      - kuturl_network
  
networks:
  kuturl_network:
    driver: bridge
